<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>四川大学</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="wap-font-scale" content="no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no" />
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/pages.css">
</head>
<body>

    <!--会员特权-->
   <section class="mem_ps">
        <h3 class="mem_title">会员特权</h3>
        <ul class="flex">
           <li class="txt_center">
               <a href="javascript:;">
                   <em></em>
                   <span>超多折扣</span>
               </a>
           </li>
           <li class="txt_center">
               <a href="javascript:;">
                   <em></em>
                   <span>会员标志</span>
               </a>
           </li>
           <li class="txt_center">
               <a href="javascript:;">
                   <em></em>
                   <span>店铺推荐</span>
               </a>
           </li>
        </ul>
   </section>
    <!--会员福利-->
    <section class="mem_ps">
        <h3 class="mem_title">会员福利</h3>
    </section>
</body>
</html>
<script type="text/javascript" src="../../plugin/phoneSize/phoneSize.js"></script>
<script type="text/javascript" src="../../js/jquery-2.2.4.min.js"></script>
